#include "resource.h"

// ID, 리소스 타입과 실제 파일 경로를 연결하는 리소스 스크립트

IDI_KNOTENGINE ICON "Contents\\Engine\\Icons\\EngineIcon.ico"
IDR_ENGINE_ICON_PNG RCDATA "Contents\\Engine\\Icons\\EngineIcon.png"
IDR_PRETENDARD_MEDIUM RCDATA "Contents\\Engine\\Fonts\\Pretendard-Medium.otf"
IDR_PRETENDARD_SEMIBOLD RCDATA "Contents\\Engine\\Fonts\\Pretendard-SemiBold.otf"
IDR_PRETENDARD_LICENSE RCDATA "Contents\\Engine\\Fonts\\OFL-Pretendard.txt"
IDR_GEOMETRY_MESH_SHADER RCDATA "Shaders\\GeometryMesh.hlsl"
IDR_GRID_SHADER RCDATA "Shaders\\Grid.hlsl"
IDR_AXIS_SHADER RCDATA "Shaders\\Axis.hlsl"
IDR_STATIC_MESH_SHADER RCDATA "Shaders\\StaticMesh.hlsl"
